.adminbut {
    display: flex;
    justify-content: center;
    gap: 3rem; /* Espaciado entre los botones */
    margin-top: 20px; 
}

.adminbut button {
    font-size: 30px;
}

.adminbut2 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


.invBut{
    justify-content: center;
}


.form-group-inline {
    display: flex;
    align-items: first baseline; 
    gap: 1rem;
  }
  
  .form-group-inline select {
    width: 200px; 
  }
  
  .label-inventario{
    padding-left: 1rem;
  }
 
 
  